*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,::placeholder {
    font-family: iranyekan,sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999999999;
    background-color: white;
}


footer {
    border-top: 1px solid #f1f1f1;
    width: 95%;
    padding-top: 32px;
    margin: 48px auto 0;
}

fade {
    position: absolute;
    bottom: 0;

    display: block;

    width: 100%;
    height: 100px;

    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.9)
    100%);
}